@font-face {
  font-family: "Sansation Regular";
  src: url("../../fonts/Sansation-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  background-color: #f1f1f1;
  position: fixed;
  display: flex; /* Establece el contenedor de enlaces como un flex container */
  flex-direction: column;
  align-items: center;
  width: 107px;
  height: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.link {
  margin-top: 20px;
  font-family: "Sansation Regular", sans-serif;
  font-size: 10pt;
  text-decoration: none;
  color: #7e7f84;
  padding: 16px;
  display: flex; /* Hace que el enlace sea un contenedor flex */
  flex-direction: column; /* Organiza los elementos en una columna */
  align-items: center; /* Centra horizontalmente el contenido */
}

.icon {
  font-weight: 600;
  font-size: 16pt;
  padding: 5px;
}

.iconConteiner:hover {
  position: fixed;
  padding: 2px;
  display: flex; /* Establece el contenedor de enlaces como un flex container */
  justify-content: center; /* Centrar horizontalmente */
  width: 90px;
  border-radius: 30px;
  background-color: lightgray;
}

.logo {
  height: 35px;
}
