@font-face {
  font-family: "Sansation Regular";
  src: url("../../fonts/Sansation-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sansation Bold";
  src: url("../../fonts/Sansation-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.top_image {
  width: 100%;
  height: auto; /* Esto mantiene la relación de aspecto */
  margin-bottom: 50px
}

.title_body_container {
  display: flex; /* Establece el contenedor de enlaces como un flex container */
  flex-direction: column;
  justify-content: center; /* Centrar horizontalmente */
  margin-left: 198px;
  margin-right: 185px;
}

.paragraph {
  font-family: "Sansation Regular", sans-serif;
  color: #7e7f84;
}

.columns {
  display: flex; /* Establece el contenedor como un flex container */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
  justify-content: center;
}

.card {
  position: relative;
  display: flex; /* Establece el contenedor de enlaces como un flex container */
  flex-direction: column;
  justify-content: center; /* Centrar horizontalmente */
  border: 2px solid white;
  border-radius: 20px;
  padding-left: 30px; /* Espacio interno de la tarjeta */
  padding-right: 166px;
  margin: 20px; /* Agrega margen entre las tarjetas */
  background-color: #f1f1f1;
  width: 285px;
  height: 300px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.woman_image {
  position: absolute; /* Establece la posición absoluta para la imagen */
  bottom: 0%;
  left: 70%; /* Posiciona la imagen en la parte izquierda del card */
  width: auto; /* Ancho de la imagen igual al ancho del card */
  height: 100%; /* Altura de la imagen igual a la altura del card */
  z-index: 1; /* Asegura que la imagen esté por encima del contenido del card */
}

.man_image {
  position: absolute; /* Establece la posición absoluta para la imagen */
  bottom: 0%;
  left: 65%; /* Posiciona la imagen en la parte izquierda del card */
  width: auto; /* Ancho de la imagen igual al ancho del card */
  height: 110%; /* Altura de la imagen igual a la altura del card */
  z-index: 1; /* Asegura que la imagen esté por encima del contenido del card */
}

.title_orange {
  color: #f49728;
  font-size: 56pt;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}

.featurdOrange {
  font-family: "Sansation Bold", sans-serif;
  color: #f49728;
  margin-top: 0px;
}

.subtitle_orange {
  color: #f49728;
  font-size: 46pt;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}
.subtitle_blue {
  color: #27b2f5;
  font-size: 46pt;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: -18px;
}

.featurdBlue {
  font-family: "Sansation Bold", sans-serif;
  color: #27b2f5;
  margin-top: 0px;
}

.blueButton {
  position: absolute; /* Establece la posición absoluta para la imagen */
  top: 90%;
  background-color: #27b2f5;
  color: white;
  border: none;
  width: 130px;
  border-radius: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.orangeButton {
  position: absolute; /* Establece la posición absoluta para la imagen */
  top: 90%;
  background-color: #f49728;
  color: white;
  border: none;
  width: 130px;
  border-radius: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}
