.container {
  display: flex; /* Establece el contenedor principal como un flex container */
  flex-direction: column; /* Organiza los elementos en una columna */
  min-height: 100vh; /* Establece la altura mínima para que el footer siempre esté en la parte inferior */
}

.content {
  display: flex; /* Establece el contenedor del contenido como un flex container */
}

.navbar {
  background-color: #f1f1f1;
  padding: 8px;
  width:107px; /* Ancho de la columna del navbar */
  flex: 0 0 auto; /* No se expandirá ni se contraerá, manteniendo su ancho fijo */
}

.routes {
  flex: 1; /* Se expandirá para ocupar todo el espacio restante */
}

.footer {
  margin-top: auto; /* Empuja el footer hacia abajo para que esté siempre en la parte inferior */
}
